alembic==1.7.7
asyncpg
cryptography
databases
fastapi
fastapi_utils
loguru
passlib[bcrypt] 
pre-commit
psycopg2-binary
pyclean
pydantic[email]
pyjwt
python-dotenv
python-multipart==0.0.5
requests
sqlalchemy
sqlalchemy_utils
uvicorn
