asyncpg
cryptography
databases
fastapi
fastapi-users[sqlalchemy]
fastapi_utils
loguru
passlib[bcrypt] 
pre-commit
psycopg2-binary
pyclean
pydantic[email]
pyjwt
python-dotenv
requests
sqlalchemy
sqlalchemy_utils
uvicorn
